<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Washing machine simulator{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/washing_machine.jpg')}}" type="image/x-icon">
</head>
<body>
    <main> 
        <div class="container">
            <div class="washing-machine">
                <div class="machine-body">
                    <div class="screen">
                        <div class="buttons">
                            <div class="button power">Power</div>
                            <div class="button start">Start</div>
                            <div class="button pause">Pause</div>
                        </div>
                    </div>
                    <div class="door">
                        <div class="water"></div>
                    </div>
                </div>
            </div>
            
            {% block content %}
            {% endblock %}
        </div>
    </main>


    {% block scripts %}
        <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    {% endblock %}
</body>
</html>